{% extends 'base.html.twig' %}

{% block nav_li %}
  <li ><a href="index.html">Home</a></li>
  <li><a href="{{ path('blog_show')}}">Blog</a></li>
  <li><a href="{{ path('antico_show')}}">Antico Seme</a></li>
  <li class = "current" ><a href="{{ path('in_cucina_show')}}">In Cucina</a></li>
  <li ><a href="{{ path('chi_siamo_show')}}">Chi Siamo</a></li>   
{% endblock %}

{% block body_container %}
	<h3> In Cucina</h3>
{% endblock %}
