{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Antico Seme{% endblock %}</title>

        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no"/>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">           
            <link rel="stylesheet" type="text/css" href="{{asset('css/plugin.css') }}">
        {% endblock %} 
        <link rel="icon" type="image/x-icon" href="{{ asset('favicontico.ico') }}" />       
    </head>
    <body id="{% block body_id %}{% endblock %}"> 

        <div id="header-wrapper">
        {% block header %}
                
                    <header id="header" class="container">
                        {% block logo %}
                        <!-- Logo -->
                            <div id="logo">
                                <img src="{{ asset('anticoseme.png') }}">
                            </div>
                        {% endblock %}    
                        {% block header_navigation_links %}
                        <!-- Nav -->
                            <nav id="nav">
                                <ul>
                                 {% block nav_li %}
                                    <li class = "current"><a href="{{ path('homepage')}}">Home</a></li>
                                    <li><a href="{{ path('blog_show')}}">Blog</a></li>
                                    <li><a href="{{ path('antico_show')}}">Antico Seme</a></li>
                                    <li>
                                        <a href="#">In Cucina</a>
                                        <ul>
                                            <li><a href="{{ path('primi')}}">Primi Piatti</a></li>
                                            <li><a href="{{ path('secondi')}}">Secondi Piatti</a></l1i>                                           
                                            <li><a href="{{ path('dolci')}}">Dolci</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ path('chi_siamo_show')}}">Chi Siamo</a></li>   
                                {% if app.user %}<li><a href="{{ path('admin')}}">Admin</a></li> {% endif %}
                                {% endblock %}
                                </ul>
                            </nav>
                         {% endblock %}   
                    </header>                
        {% endblock %}       
        </div>        
        {% block slider_container %} {% endblock %} 
        <div class="container body-container">
            {% block body_container %}                                        
            {% endblock %}
        </div>

        {% block footer %}
            <div id="footer-wrapper">
                    <footer id="footer" class="container">                        
                        <div class="row">
                            <div class="12u">
                                <div id="copyright">
                                    <ul class="menu">     
                                        <li>Antico Seme</li>                                   
                                        <li>Via Fasulla 123</li>
                                        <li>Ortona (CH) </li>
                                        <li><a href="https://www.facebook.com/anticoseme/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
            <script src="{{ asset('js/skel.min.js') }} "></script>
            <script src="{{ asset('js/util.js') }}"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{asset('js/plugin.js')}}"> </script>
            <script src="{{asset('js/slider.js')}}"></script> 
            <script src="{{asset('js/jquery.hammer-full.min.js')}}"></script>            
        {% endblock %}
    </body>
</html>




