{% extends 'base.html.twig' %}


	
	{% block slider_container %}

    <div class="header">
        <img class="headerImg"
             src="{{asset ('css/img1.jpg')}}"
             data-slideshow='{{ asset('css/SliderImg/img1.jpg')}}|  {{ asset('css/SliderImg/img2.jpg')}}|  {{ asset('css/SliderImg/img3.jpg')}}'>        
	{% endblock %}	






	





