{% extends 'base.html.twig' %}

{% block nav_li %}
    <li><a href="index.html">Home</a></li>
    <li class = "current" ><a href="{{ path('blog_show')}}">Blog</a></li>
    <li ><a href="{{ path('antico_show')}}">Antico Seme</a></li>
    <li><a href="{{ path('in_cucina_show')}}">In Cucina</a></li>
    <li><a href="{{ path('chi_siamo_show')}}">Chi Siamo</a></li>
{% endblock %}

{% block body_container %}	
	
	{% for post in posts %}	
		<div class = "post-outer">

                 <div class ="post-start row" id=" {{ post.id }} ">

                 	     <div class = "home-post-single">

                               <h2 class = "post-home-title post-main-home-title"> {{ post.title }}</h2>

                               <div class = "post-header-home">

                                        <span class = "post-author vcard"> Posted By <i class = "fa fa-user"></i>

                                               <span class = "fn">{{ post.user }}</span>  

                                        </span>  

                                        <span class = "post-timestamp">  il <i class = "fa fa-clock-o"></i><abbr class ="published">{{ post.date|date('d-m-Y') }}</abbr></span> 

                               </div>
                               <div class = "homapge-thumb">

                                  <div id = "summary">

                                       <div class = "post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

                                                 <span class = "img-post-span"><a href="{{ path('blog_entry', {'id': post.id , 'slug' : post.slug }) }}">

                                                 <img src="{{ asset('uploads/post_img')}}/{{post.image}}"></a></span>

                                                 <div class = "post-content-desc">{{post.preview}}</div>
                                      </div>

                                      <span class = "readmore_main"><a href="" class = "button icon fa-arrow-circle-right"> Read More </a></span>

                                  </div>
                               </div>
                 	     </div>
                 </div>
		</div>
            
   

    {% endfor %}
{% endblock %}
