{% extends 'base.html.twig' %}


{% block nav_li %}
    <li><a href="index.html">Home</a></li>
    <li class = "current" ><a href="{{ path('blog_show')}}">Blog</a></li>
    <li ><a href="{{ path('antico_show')}}">Antico Seme</a></li>
    <li><a href="{{ path('in_cucina_show')}}">In Cucina</a></li>
    <li><a href="{{ path('chi_siamo_show')}}">Chi Siamo</a></li>  
    {% if app.user %} <li><a href="{{ path('admin')}}">Admin</a></li> {% endif %}
{% endblock %}

{% block body_container %}	
<div class ="post-entry-wrapper">
<div class="col-lg-15">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ post.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    Scritto Da {{ post.user }}
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> il {{ post.date|date('d-m-Y') }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive img-res-pos" src="{{ asset('uploads/post_img')}}/{{post.image}}" alt="">

                <hr>

                <!-- Post Content -->
                {{ post.description|raw }}

                <hr>

                <!-- Info sull'autore -->
                <div class = "post-author">
                     <div class = "block-heading"><span>About</span></div>
                     <div class = "author-img"><img alt="" class="avatar avatar-110 photo" height="110" src="{{ asset('uploads/propic')}}/danilo.jpg" width="110"></div>
                     <div class = "author-text"><h4>{{autore.username}}</h4>
                             <p>Lorem ipsum dolor sit amet, cotur acing elit. Ut euis eget dolor sit amet congue. Ut vira codo matis. Sed lacia luctus magna ut sodales lorem.</p>
                             <span class="author-share">
                             <a href="#"><i class="fa fa-facebook round-icon"></i></a>
                             <a href="#"><i class="fa fa-twitter round-icon"></i></a>
                             <a href="#"><i class="fa fa-instagram round-icon"></i></a>
                             <a href="#"><i class="fa fa-google-plus round-icon"></i></a>
                             <a href="#"><i class="fa fa-pinterest round-icon"></i></a>
                             <a href="http://#.tumblr.com/"><i class="fa fa-tumblr round-icon"></i></a>
                             </span>
                     </div>
                </div>

                <!-- Blog Comments -->
                {% if (app.session.has('facebook_access_token') or app.user)  %}
                    {{ form_start(form) }}
                    
                    
                <!-- Comments Form -->
                <div class="well">
                    <h4>Lascia un commento:</h4>
                    {{ form_start(form) }}
                    {{ form_widget(form.contenuto) }}
                    {{ form_row(form.save) }}
                    {{ form_end(form) }}
                </div>
                
                {% elseif ( not app.session.has('facebook_access_token') or not app.user) %}
                   <a href="{{ loginUrl }}">Iscriviti con Facebook Per Commentare!</a>
                {% else %}

                <hr>                
                {% endif %}
                
                <!-- Posted Comments -->

                {% for commento in commenti%}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object"  height = "64px" width = "64" src="{{commento.propic}}" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ commento.autore }}
                            <small> il {{ commento.data|date('d-m-Y')}}</small>
                        </h4>
                        {{ commento.contenuto }}
                    </div>
                </div>
                {% endfor %}                 
            </div>
</div>
{% endblock %}
