{% extends 'base.html.twig' %}

{% block nav_li %}
  <li ><a href="index.html">Home</a></li>
  <li><a href="{{ path('blog_show')}}">Blog</a></li>
  <li><a href="{{ path('antico_show')}}">Antico Seme</a></li>
  <li><a href="{{ path('in_cucina_show')}}">In Cucina</a></li>
  <li class = "current" ><a href="{{ path('chi_siamo_show')}}">Chi Siamo</a></li>   
{% endblock %}

{% block body_container %}
	<div class="container marketing">

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Lucio Boschi </h2>
          <p class="lead">Lucio Boschi nasce a Pescara il 18/09/90. A 20 anni la passione per la cucina lo porta a diventare allievo del celebre maestro Gualtiero Marchesi, questa tappa fondamentale gli permette di entrare in contatto con i più grandi chef a livello internazionale. L’estenuante ricerca gastronomica e l’amore per i viaggi lo conducono alla scoperta della Canapa che colpisce l’attenzione di questo giovane cuoco, per le sue fantastiche proprietà  organolettiche in ambito alimentare e per la sua fantastica sostenibilità ambientale. La folgorazione è tale da convincerlo a intraprendere una nuova sfida finalizzata all’aspetto scientifico della coltivazione di questa pianta e inizia a 23 anni il corso di Scienze e Tecnologie Agrarie presso l’Università degli Studi di Milano. Attualmente sta collaborando al progetto universitario DIAnA finalizzato alla sostenibilità delle coltivazioni di grano e orzo.</p><h3><b><em>L'esempio è la più alta forma di insegnamento</em></b></h3>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block"  alt="lucio" src="{{ asset('uploads/propic')}}/lucio.jpg" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Mattia Liberatore</h2>
          <p class="lead">Si laurea in Economia a Pescara con una tesi sugli impieghi economici della pianta di Canapa che lo avvicina a questa realtà. Da sempre accompagnato dalla passione per la chitarra ed i tatuaggi, matura un fascino per ogni forma d’arte convenzionale e non. I viaggi temprano le lingue e una forte coscienza ambientale consacrandolo un perfetto membro del team.</p><h3><b><em>Keep your hope up high and your head down low</em></b></h3>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('uploads/propic')}}/libe.jpg" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Giovanni Esposito</h2>
          <p class="lead">Nato a Napoli nel 1991. Comunicatore (Unisa 2013), Art Director full time (amocomunicare, Salerno), Sfacciato copywriter (IULM, Milano 2015), Moderato Facebookologo. Si occupa della bran identity e della comunicazione di Antico Seme. Il suo contributo ha dato un volto al progetto, aiutando a comunicare i valori dell’ innovazione e della tradizione che sono alla sua base </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('uploads/propic')}}/giovanni.jpg" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider"> 

       <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Domenico De Vivo</h2>
          <p class="lead">Nato a Salerno nel 1991, è dottore in Economia Aziendale (laurea triennale, Università degli Studi di Salerno, 2014) e in Business Administration ( laurea magistrale, Università di Bologna, 2016). Avendo attuato un percorso di formazione internazionale, parla francese inglese e tedesco. Fortemente interessato al mondo dell’ export, si unisce al Team curando l’ aspetto economico- strategico del progetto.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('uploads/propic')}}/domenico.jpg" data-holder-rendered="true">
        </div>
      </div>
           <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Dario Candeloro</h2>
          <p class="lead">Dottore in Scienze Internazionali e Diplomatiche, titolo di laurea triennale conseguito a Forlì, sede distaccata dell’Unibo. Buona conoscenza dell’inglese, approfondita dopo aver vinto una borsa di studio Erasmus per studiare all’estero. Parla anche spagnolo, ma è ancora “work in progress”. Nonostante il suo obbiettivo sia quello di valorizzare la sua regione le cui potenzialità sono sottovalutate se non sconosciute, il problema della disparità del benessere nel mondo è un chiodo fisso per lui. A breve si iscriverà ad un corso di laurea magistrale che lega lo sviluppo all’economia. Si occupa dell’attuabilità del progetto a livello locale. Prospettive future? Attraverso la cooperazione internazionale, punta a creare un aspetto umanitario di Antico Seme.  </p><h3><b><em>“Essere giovane e non essere rivoluzionario è una contraddizione perfino biologica”. </em></b></h3>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('uploads/propic')}}/dario.jpg" data-holder-rendered="true">
        </div>
      </div>
      <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Giulio Cipriani</h2>
          <p class="lead">Nasce a Ortona il 25/03/1994. Inizia a lavorare nel settore ristorativo fino al 2012
                   anno in cui si trasferisce in Australia, Melbourne. Al rientro in Italia si butta a capofitto nell’attività commerciale gestendo insieme al fratello il negozio di abbigliamento Benihana. Nel 2013 si avvicina al mondo della Canapa Industriale e insieme ai compagni di una vita Lucio e Dario da vita al progetto Antico Seme.</p><h3><b><em>Sono praticamente inarrestabile. Quando la partita si mette male, i miei compagni sanno a chi rivolgersi</em></b></h3>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('uploads/propic')}}/giulio.jpg" data-holder-rendered="true">
        </div>
      </div>

    </div>
{% endblock %}
